.container {
  width: 100vw;
  height: 100vh;
}

.content {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin-top: 10px;
  margin-bottom: 20px;
}
